/* */
#send3-form{
	display: none;
}


#title-quiz{
	height:100%;
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	margin: 0;
}

.answer{
	width: 5%;
	box-shadow: none;

}

/*Проверка ответа--------------------------------------------------------------------*/

.quiz-list label:hover {
	background-color: seashell;
}

.quiz-list label.correct {
	color: rgb(36, 144, 77);
	font-weight: bold;
}

.quiz-list label.disabled {
	cursor: no-drop;
}

.quiz-list label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.quiz-list label.wrong {
	color: rgb(218, 59, 59);
	font-weight: bold;
}

.quiz-list input[type="radio"] {
	margin-right: 10px;
}

/*Кнопка ответить----------------------------------------------------------------*/
.quiz-submit {
	position: absolute;
	left: 20%;
	right: 0;
	bottom: 1%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.quiz-submit2 {
	position: absolute;
	left: 1;
	right: 20%;
	bottom: 1%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.quiz-header > h3{
	text-align: center;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

#send3{
	margin-top: 10%;
}

#list {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

.quiz-list li {
	font-size: 1.2rem;
	padding-bottom: 0px;
}

.quiz-list label {
	cursor: pointer;
	width: 100%;
    display: block;
	padding: 1rem 0.5rem;
}

.image{
	display: none;
}

.image-quiz{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

#img1, #img2{
	width: 70%;
}

#img3, #img4{
	width: 100%;
}

#img1,
#img2,
#img3,
#img4{display: none;}

.quiz{
	width:35%;
	height:50%;
}

.close
{
	position: absolute;
	height: 50px;
	width: 50px;
	top: -15px;
	right: 0;
	z-index: 50
}
.close:hover
{
	cursor: pointer;
}

.back
{
	display: none;
	position: absolute;
	width: 25px;
	top: 20px;
	left: 20px;
}

.bg-popup
{
	position: fixed;
	display: none;
	width: 100%;
	background: rgba(0,0,0,.5);
	overflow: hidden;
	z-index: 1000;
}

.bg-flex
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.form-popup
{
	position: relative;
	width: 40%;
	background: #4A81D2;
	padding: 60px 70px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	box-sizing: border-box;
	z-index: 100;
	height: auto;
}

.form-wrap
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px 55px;
	background: #FFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	box-sizing: border-box;
    min-height: 400px;
}
.form-wrap > h1
{
	padding: 30px 0;
}
.form-wrap > p
{
	margin-bottom: 15px;
}

.rocket
{
	position: absolute;
	bottom: 0; right: 0;
	transform: translateX(50%) translateY(20%);
    z-index: 1; 
}

@media screen and (max-width: 1024px){

	#title-quiz {
    	font-size: 1.3rem;
    	padding: 0;
		margin-bottom: 3%;
	}

	.quiz-list label {
    	font-size: 1.1rem;
    	padding: 0.5rem 0.5rem;

	.form-popup{
	    min-height: 60%;
		width: 60%;
		height: 60%;
	}
}
@media screen and (max-width: 900px)
{
	.back,
	#side-btn-l,
	#side-btn-r
	{
		display: block;
	}
	.form-popup {
    	position: relative;
    	width: 50%;
    	padding: 30px;
    	border-radius: 20px;
		height: auto;
	}
	.form-wrap
	{
		padding: 50px 30px;
		border-radius: 20px
	}
	.form-wrap > input
	{
		font-size: 16px
	}
	.form-wrap > h1
	{
		padding-top: 0;
	}
 	.left-menu,
 	.right-menu
	{
		padding: 110px 25px;
	}	
	#side-long-l,
	#side-long-r
	{
		display: block;
		top: 15px;
	}
	.bg-left-menu,
	.bg-right-menu
	{
		display: none;
		position: absolute;
		height: 200%;
		width: 120%;
		background: rgba(0,0,0,.75);
		transform: translateX(-10%);
		overflow: hidden;
		z-index: 15;
	}
	.rocket {
    	position: absolute;
    	height: 40%;
    	bottom: 6%;
    	right: 8%;
    	transform: translateX(70%) translateY(30%);
    	z-index: 1;
	}
}

@media screen and (max-width: 500px)
{
	.form-popup
	{
		position: relative;
		width: 90%;
		padding: 30px;
		border-radius: 20px;
		transform: translateY(-40px);
		height: auto;
	}
	.form-wrap
	{
		padding: 50px 30px 30px 30px;
		border-radius: 20px;
	}
	.form-wrap > button
	{
		padding: 10px 40px;
		font-size: 10px;
	}
	.left-menu,
	.right-menu
	{
		width: 100%;
		margin: 0;
		padding: 100px 25px;
	}	
	#side-long-l,
	#side-long-r
	{
		display: block;
		width: 95%;
		top: 20px;
	}
	.form-wrap > input
	{
		font-size: 16px
	}
	.form-wrap > h1
	{
		font-size: 24px;
  		line-height: 28px;
		padding-top: 0;
	}
	.rocket
	{
		position: absolute;
		height: 40%;
		bottom: 20%; right: 0;
		transform: translateX(25%) translateY(65%);
        z-index: 1;
	}

	#send3{
		font-size: 0.8rem;
	}

	input{
		font-size: 14px;
	}
}

@media screen and (max-width: 425px)
{
	.form-wrap {
    padding: 25px 15px 35px 15px;
    border-radius: 20px;
	}

	#title-quiz {
    font-size: 1.0rem;
	}

	.quiz-list label {
	font-size: 1.0rem;
	}
		.rocket
	{
		height: 35%;
		bottom: 15%; right: 0;
	}
}