@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Roman.woff') format('woff'),
		url('HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.button{
	margin: 10px;
    padding: 5px;
    border-radius: 5px;
	cursor: pointer;
}

.install{
	background-color: darkseagreen;
}

.uinstall{
	background-color: darksalmon;
}

.end{
	background-color: darkgray;
}



#message div{
    color: orangered;
    background-color: lightyellow;
    padding: 25px;
    font-size: 18px;
}



div{
	padding-bottom: 3px;
}

.s{
	position: relative;
	margin-bottom: 12px;
}

.t{
	position: absolute;
    top: 10px;
    left: auto;
    right: 100%;
    text-align: right;
    margin-right: 20px;
	white-space: nowrap;
	color: #99aaba;
	font-family: HelveticaNeueCyr;
}

input, textarea{
	width: 100%;
    max-width: 100%;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #545c67;
    border: 1px solid #e4ebf2;
    padding: 8px 15px 6px;
    border-radius: 2px;
    resize: none;
}

.button_add{
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
	color: #545c67;
	line-height: 1;
	text-decoration: underline;
	font-family: HelveticaNeueCyr;
}
.div_form{
	margin: 20px auto 0;
    padding: 10px 10px 15px;
	max-width: 420px;
	padding-left: 100px;
}
.div_submit{
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #fff;
    border-top: 1px solid #e4ebf2;
	justify-content: center;
	display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: none;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    border-radius: 0;
    border-radius: 50px;
    padding: 0 20px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    min-height: 35px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
	background: #80c925;
	cursor: pointer;
}

.btn:hover{
	background: #b6e37d;
}