/* */
.close
{
	position: absolute;
	height: 50px;
	width: 50px;
	top: -15px;
	right: 0;
	z-index: 50
}
.close:hover
{
	cursor: pointer;
}

.back
{
	display: none;
	position: absolute;
	width: 25px;
	top: 20px;
	left: 20px;
}

.bg-popup
{
	position: fixed;
	display: none;
	width: 100%;
	background: rgba(0,0,0,.5);
	overflow: hidden;
	z-index: 1000;
}

.bg-flex
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.form-popup
{
	position: relative;
	width: 50%;
	background: #4A81D2;
	padding: 60px 70px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	box-sizing: border-box;
	z-index: 100;
}

.form-wrap
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px 55px;
	background: #FFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	box-sizing: border-box;
}
.form-wrap > h1
{
	padding: 30px 0;
}
.form-wrap > p
{
	margin-bottom: 15px;
}

.rocket
{
	position: absolute;
	bottom: 0; right: 0;
	transform: translateX(50%) translateY(20%); 
}

.mobile-menu
{
	display: none;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.mobile-menu
{
	padding-top: 25px;
}
.mobile-menu > a > p,
.mobile-menu > span > p
{
	font-size: 30px;
 line-height: 3px;
 margin-bottom: 15px;
}
nav > .socials
{
	padding: 15px 0;
}
nav > .socials img
{
	margin-right: 15px;
}

.sub-mobile-menu
{
	display: none;
	position: absolute;
	top: 25px;
	background: #DEEBFD;
	width: 100%;
	height: 70%;
}
.sub-menu > .back
{
	top: -10px;
}
.sub2-menu > .back
{
	left: 55px;
	top: -10px;
}
.sub-mobile-menu > a > p
{
	font-size: 28px;
	margin-bottom: 25px;
}

.bg-left-menu
{
	position: relative;
	width: 22%;
	margin-right: 5%;
	background: none;
	overflow: hidden;
	z-index: 15;
}

.bg-right-menu
{
	position: relative;
	width: 22%;
	margin-left: 5%;
	background: none;
	overflow: hidden;
	z-index: 15;
}

.left-menu
{
	position: relative;
	width: 70%;
	padding: 50px 80px 50px 50px;
	background: #FFF;
	box-sizing: border-box;
	z-index: 21;
}
.right-menu
{
	position: relative;
	width: 70%;
	margin-left: 30%;
	padding: 50px 50px 50px 80px;
	background: #FFF;
	box-sizing: border-box;
	z-index: 21;
}
.left-menu > button,
.right-menu > button
{
	padding: 15px 70px;
}

#side-btn-l
{
	display: none;
	position: absolute;
	height: 40px;
	left: 0; bottom: -45px;
	z-index: 20;
}

#side-btn-r
{
	display: none;
	position: absolute;
	height: 40px;
	right: 0; bottom: -45px;
	transform: scaleX(-1);
	z-index: 20;
}

#side-long-l
{
	display: none;
	height: 40px;
	position: absolute;
	top: 5px; left: 0;
	width: 85%;
}
#side-long-r
{
	display: none;
	height: 40px;
	position: absolute;
	top: 5px; right: 0;
	transform: scaleX(-1);
	width: 85%;
}

@media screen and (max-width: 900px)
{
	.back,
	#side-btn-l,
	#side-btn-r
	{
		display: block;
	}
	.form-popup
	{
		position: relative;
		width: 50%;
		padding: 10px;
		border-radius: 20px
	}
	.form-wrap
	{
		padding: 50px 30px;
		border-radius: 20px
	}
	.form-wrap > input
	{
		font-size: 16px
	}
	.form-wrap > h1
	{
		padding-top: 0;
	}
 	.left-menu,
 	.right-menu
	{
		padding: 110px 25px;
	}	
	#side-long-l,
	#side-long-r
	{
		display: block;
		top: 15px;
	}
	.bg-left-menu,
	.bg-right-menu
	{
		display: none;
		position: absolute;
		height: 200%;
		width: 120%;
		background: rgba(0,0,0,.75);
		transform: translateX(-10%);
		overflow: hidden;
		z-index: 15;
	}
	.rocket
	{
		position: absolute;
		height: 80%;
		bottom: 0; right: 0;
		transform: translateX(70%) translateY(30%); 
	}
}

@media screen and (max-width: 500px)
{
	.form-popup
	{
		position: relative;
		width: 90%;
		padding: 10px;
		border-radius: 20px;
		transform: translateY(-40px);
	}
	.form-wrap
	{
		padding: 50px 30px 30px 30px;
		border-radius: 20px;
	}
	.form-wrap > button
	{
		padding: 10px 40px;
		font-size: 10px;
	}
	.left-menu,
	.right-menu
	{
		width: 100%;
		margin: 0;
		padding: 100px 25px;
	}	
	#side-long-l,
	#side-long-r
	{
		display: block;
		width: 95%;
		top: 20px;
	}
	.form-wrap > input
	{
		font-size: 16px
	}
	.form-wrap > h1
	{
		font-size: 24px;
  		line-height: 28px;
		padding-top: 0;
	}
	.rocket
	{
		position: absolute;
		height: 70%;
		bottom: 0; right: 0;
		transform: translateX(25%) translateY(65%); 
	}
}