/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
	background: #F5F5F5;
	overflow-x: hidden;
}

.babl-1
{
	position: absolute;
	left: 39%;
	right: -13.82%;
	top: -11%;
	bottom: 82.13%;
}
.babl-2
{
	position: absolute;
	left: -92%;
	top: 5%;
}
.babl-3
{
	position: absolute;
	left: -112%;
	top: 128%;
}
.babl-4
{
	position: absolute;
	left: -9%;
	top: -4%;
}
.idle-1
{
	position: absolute;
	left: 56.32%;
	right: -13.82%;
	top: 0%;
	bottom: 82.13%;
}

.idle-3
{
	position: absolute;
	top: -50px; right: 0;
	transform: translateX(100%);
}

header
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 40px;
	z-index: 999;
	background: none;
}

nav
{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35%;
}

input
{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 18px;
	box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	outline: none;
}

textarea
{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	padding: 15px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 18px;
	box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	outline: none;
}

button
{
	transition: .3s;
	color: #FFF;
	font-weight: bold;
	border: none;
	font-size: 18px;
	padding: 15px 70px;
	background: #D73333;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 50px;
 	outline: none;
	outline-offset: none;
}
button:hover
{
	cursor: pointer;
 background: #D75555;
}
button:active
{
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebare-send-form
{
	padding: 25px 70px;
}

.fat-btn
{
	padding: 25px 70px;
}

.mt
{
	margin-top: 50px;
}

.mb
{
	margin-bottom: 50px;
}

.center
{
	display: block;
	margin: 0 auto;
}

#burger,
#socials
{
	display: none;
}

a
{
	text-decoration: none;
	color: #000;
}
a:hover
{
	cursor: pointer;
	color: #D73333;
}

h1
{
	font-size: 34px;
 line-height: 40px;
 margin-bottom: 10px;
}

h2
{
	font-size: 34px;
 line-height: 40px;
 margin-bottom: 10px;
}

h3
{
 font-size: 24px;
 line-height: 28px;
 margin-bottom: 10px;
}

p
{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 50px;
	text-align: justify;
}

ul
{
	list-style: none;
	list-style-image: url('../img/check.png');
	padding-left: 25px;
}

li
{
	padding-bottom: 20px;
}

footer
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
 	border-radius: 50px 50px 0px 0px;
	padding: 30px 30px 50px 30px;
	box-sizing: border-box;
}

.danger
{
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 15px; right: 15px;
	transition: 0.3s;
	z-index: 999;
}
.danger > img
{
	width: 100%
}

.babls
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#side-btn
{
	position: absolute;
	left: 0; bottom: -55px;
	height: 50px;
	z-index: 20;
}
.header-menu
{
	display: none;
	position: fixed;
	background: #DEEBFD;
	padding: 25px 45px;
	width: 100%;
	transition: 0.3s;
	box-sizing: border-box;
	z-index: 999;
}
.out-y
{
	transition: 0.3s;
	transform: translateY(0%);
	animation-name: oy;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
@keyframes oy
{
	0% { transform: translateY(0%); }
	100% { transform: translateY(-100%); }
}
.out-x
{
	transition: 0.3s;
	transform: translateX(0);
	animation-name: ox;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
@keyframes ox
{
	0% { transform: translateX(0); }
	100% { transform: translateX(65px); }
}
.h-left
{
 position: relative;
 width: 70%;
}
.h-right
{
 position: relative;
 width: 30%;
 text-align: right;
}

.container
{
	position: relative;
	max-width: 1280px;
	max-height: 100%;
	padding: 0 25px;
	margin: 0 auto;
	box-sizing: border-box;
}

.logo
{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 20%;
}
.logo > h1
{
	font-size: 24px;
	font-weight: 500;
}
.logo > img
{
	width: 80%;
}

.form-link
{
	text-decoration: underline;
	color: #D73333;
}

.nav-link
{
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.nav-link__active
{
	font-size: 13px;
	/* font-weight: bold; */
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.nav-link:hover,
.nav-link__active:hover
{
	font-weight: bold;
	color: #000;
}

.side-link
{
	display: block;
	color: #D73333;
	font-size: 18px;
 line-height: 28px;
}

.bx
{
	display: block;
	position: absolute;
	height: 40px;
	width: 40px;
	padding: 20px;
	transform: rotate(45deg) translateX(-48%) translateY(-15%);
	z-index: -1;
}
.bx > div
{
	background: #4A81D2;
 width: 100%;
 height: 100%;
}

.bx2
{
	display: block;
	position: absolute;
	left: -20px; top: -10px;
	height: 40px;
	width: 40px;
	padding: 20px;
	transform: rotate(45deg);
	z-index: -1;
}
.bx2 > div
{
	background: #4A81D2;
 width: 100%;
 height: 100%;
}

.sub-menu
{
	display: none;
	position: absolute;
	top: 50px;
	width: 350px;
	margin-left: -20px;
	background: #4A81D2;
	border-radius: 25px;
	padding: 15px;
	box-sizing: border-box;
	z-index: 1;
}
nav > div:hover > .sub-menu,
.sub-menu:hover > .sub-menu
{
	display: block;
}
.bridge
{
	position: absolute;
	right: -50px; top: 0;
	width: 300px;
	height: 100px;
	background: #000;
}
.sub-link
{
	position: relative;
	text-decoration: none;
	color: #FFF;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #FFF;
}
.sub-link:last-child
{
	border: none;
	padding: 0;
	margin: 0;
}

.sub2-menu
{
	display: none;
	position: absolute;
	margin-top: -45px; left: -15px;
	background: #4A81D2;
	border-radius: 25px;
	padding: 15px;
	box-sizing: border-box;
	transform: translateX(98%);
	z-index: 2;
}

.sub-menu > .sub-link:hover + .sub2-menu,
.sub2-menu:hover
{
	display: block;
}

.sub2-link
{
	position: relative;
	text-decoration: none;
	color: #FFF;
	width: 350px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #FFF;
}
.sub2-link:last-child
{
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.sub-link:hover,
.sub2-link:hover
{
	cursor: pointer;
	color: #D73333;
}

.auth
{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 45%;
}

.content
{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

.fx-content
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

.col-left,
.col-right,
.col-middle,
.col-semifull,
.col-full
{
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0;
	box-sizing: border-box;
}

.col-left
{
	width: 100%;
}

.col-right
{
	width: 100%;
}

.col-middle
{
	width: 46%;
}

.col-full
{
	width: 100%;
}

.col-semifull
{
	width: 70%;
}

.row
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.slogan
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 12%;
	padding-bottom: 150px;
	text-align: justify;
	width: 32%;
	font-size: 80px;
}
.slogan > h1
{
 font-weight: 900;
 font-style: normal;
 font-size: 80px;
 line-height: 94px;
 float: left;
}
.slogan > p
{
	font-weight: bold;
	font-size: 28px;
	line-height: 38px;
}
.slogan > p > span
{
	font-weight: bold;
	font-size: 55px;
	line-height: 38px;
}
.slogan > button
{
	margin: 0 auto;
}
.slogan-img { visibility: hidden }

.items-3
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1090px;
	background: #4A81D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	margin: 0 auto;
	margin-top: 225px;
	margin-bottom: 225px;
	padding: 30px 50px;
	box-sizing: border-box;
}

.bg-item-three
{
	background: none;
	display: flex;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	box-sizing: border-box;
}
.item-three
{
 position: relative;
 width: 100%;
 padding: 45px 25px;
 height: 415px;
 background: #FFF;
 border-radius: 50px;
 box-sizing: border-box;
}
.item-three > a > img
{
	width: 100%;
}
.item-three > h1
{
 font-weight: bold;
	font-size: 34px;
	line-height: 40px;
	margin-bottom: 10px;
}
.item-three > a > h2
{
 font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 10px;
}
.item-three > p
{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 25px;
	text-align: justify;
}

.ellipse
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 50px;
	background: #DFD0FD;
}
.ellipse > img
{
	width: 60%;
	object-fit: contain;
}

.titles
{
	position: relative;
	display: flex;
	justify-content: flex-start;
	max-width: 1090px;
	margin: 0 auto;
	margin-bottom: 225px;
}

.title-image
{
	width: 50%;
	margin-right: 25px;
}
.title-image > img
{
	width: 100%;
	object-fit: contain;
}

.title
{
 width: 40%;
}

.items-6
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 720px;
	margin: 0 auto;
	margin-bottom: 225px;
	box-sizing: border-box;
}
.item-6-img { display: none }

.item-six
{
 position: relative;
 width: 20%;
 border-radius: 50px;
 box-sizing: border-box;
}
.item-six:nth-child(3n+2)
{
 margin-left: 15%;
 margin-right: 15%;
}

.ellipse-min
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 40px;
	background: #DFD0FD;
}
.ellipse-min > img
{
	width: 60%;
	object-fit: contain;
}

.slider
{
	position: relative;
	width: 100%;
	background: #4A81D2;
}

.slider-wrap
{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	/* max-width: 1280px; */
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.arrow-left
{
	position: absolute;
	left: 0; top: 50%;
	height: 20%;
	transform: translate(600%, -50%);
	z-index: 10
}

.arrow-right
{
	position: absolute;
	right: 0; top: 50%;
	height: 20%;
	transform: translate(-600%, -50%);
	z-index: 10
}

.arrow-left:hover,
.arrow-right:hover
{
	cursor: pointer;
}

.slider-image
{
 position: relative;
 padding-left: 20%;
 width: 40%;
 box-sizing: border-box;
}

.slider-image > img
{
	width: 100%;
	object-fit: contain;
}

.slider-content
{
 position: relative;
 padding-right: 5%;
 width: 45%;
 color: #FFF;
 box-sizing: border-box;
}

.slider-content > h1
{
	font-size: 64px;
 line-height: 75px;
 text-transform: uppercase;
 margin-bottom: 25px;
}

#s3d-1, #s3d-2
{
	display: block;
	margin: 0 auto;
	padding: 25px;
	background: #4A81D2;
    border-radius: 50px;
	max-width: 1090px;
	box-sizing: border-box;
}
#s3d-1, #s3d-2
{
	margin-top: 225px;
    margin-bottom: 225px;
}
#s3d-3 p
{
	width: 100%;
}
.slider-3d
{
	display: none;
	position: relative;
	width: 100%;
	margin-top: 150px;
	margin-bottom: 150px;
}
.slick-slide
{
	transition: 0.2s;
	transform: scale(1);
	box-sizing: border-box;
	padding: 15px;
	margin: 15px 20px;
	box-sizing: border-box;
}
.slick-active
{
	transition: 0.2s;
	transform: scale(1);
	background: #4A81D2;
	box-sizing: border-box;
}

.bg-item-three > .item-three > p:last-child
{
 margin-bottom: 0;
}

.bg-item-three,
.slick-slide,
.slick-current,
.slick-active.
.slick-center
{
	box-sizing: border-box;
}

.partners
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 200px;
}

.partner
{
	position: relative;
	width: 13%;
	text-align: center;
	transition: 0.2s;
	transform: scale(0.95);
}
.partner:hover
{
	transform: scale(1.25);
}
.partner:last-child { display: none }
.partner > a > .ellipse
{
	margin-bottom: 25px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#reg
{
	margin-bottom: 0;
}
.reg
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #FFF;
	width: 100%;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 80px 150px;
	box-sizing: border-box;
}

.reg > h1
{
	font-size: 34px;
 line-height: 40px;
 text-align: center;
 margin-bottom: 25px;
}

.reg > p
{
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.items-2
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 225px;
	box-sizing: border-box;
}

.item-two
{
 position: relative;
 width: 48%;
 box-sizing: border-box;
 margin-bottom: 10px;
}

.item-empty
{
 position: relative;
 width: 100%;
 height: 350px;
 background: #FFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 50px;
 box-sizing: border-box;
}

.item-subtext
{
	position: relative;
	padding: 15px 30px;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 28px;
	text-align: justify;
}

.w-box
{
 position: relative;
 width: 100%;
 border-radius: 50px;
 margin-bottom: 50px;
 /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.b-box
{
 position: relative;
 width: 100%;
 /* background: #4A81D2; */
 border-radius: 50px;
 margin-bottom: 50px;
}

.w-box img,
.b-box img
{
	width: 100%;
}

.footer-left
{
	position: relative;
	width: 20%;
	/* height: 235px; */
	margin-right: 5%;
	border-radius: 50px;
 	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.footer-left img
{
	width: 100%;
}

.footer-center
{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 48%;
}

.footer-item
{
 position: relative;
 background: #FFF;
 width: 30%;
}
.footer-item > p
{
	text-decoration: none;
	width: 100%;
	font-size: 18px;
	margin: 10px 0 30px 0;
}
.footer-item > p:hover
{
	font-weight: 500;
}
.footer-item > p > a
{
	text-decoration: none;
	color: #000;
}

.footer-right
{
	position: relative;
	text-align: center;
	width: 27%;
}

.f-hide
{
	display: none;
}

.down
{
	position: absolute;
	width: 20px;
	bottom: 60px;
	left: 35%;
	z-index: 10;
}

.socials
{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 40px;
}

@media screen and (max-width: 900px)
{
	.danger
	{
		display: block;
	}
	.logo > img
	{
		width: 100%;
	}
	#s3d-1, #s3d-2, #s3d-3
	{
		background: none;
	}
	.bg-item-three
	{
		height: 100%;
	}
	.slick-slide
	{
		margin: 15px 0;
		transform: scale(0.8);
	}
	.slick-active
	{
		transform: scale(1);
	}
	.container
	{
		padding: 0 45px;
	}
	.header-menu
	{
		display: flex;
		flex-wrap: wrap;
	}
	#burger,
	#socials
	{
		display: block;
	}
	.bx, .bx2
	{
		display: none;
	}
	header
	{
		display: block;
		position: fixed;
		background: #DEEBFD;
		padding: 25px 45px;
		width: 100%;
		margin: 0;
		transition: 0.3s;
		box-sizing: border-box;
		z-index: 999;
	}
	.auth
	{
		position: absolute;
		top: 0; right: 0;
		padding: 25px 45px;
	}
	header > .auth > button { display: none }
	nav
	{
		display: none;
		width: 100%;
		box-sizing: border-box;
		padding-top: 25px;
		background: #DEEBFD;
		z-index: 888;
	}
	nav > div
	{
		width: 100%;
	}
	.sub-menu,
	.sub2-menu
	{
		position: absolute;
		margin-top: 0;
		top: 25px; left: 5px;
		background: #DEEBFD;
		width: 100%;
		height: 100%;
	}
	.sub2-menu
	{
		display: none;
		top: 0;
		background: #DEEBFD;
		height: 100%;
		transform: translateX(0);
	}
	.sub-link,
	.sub2-link
	{
		color: #000;
		width: 100%;
		font-size: 28px;
		border: none;
		margin-bottom: 15px;
	}
	.nav-link,
	.nav-link__active
	{
		display: block;
		text-transform: capitalize;
		font-size: 30px;
		line-height: 35px;
		padding-bottom: 15px;
	}
	.logo > h1
	{
		font-size: 15px;
		line-height: 15px;
		margin-bottom: 0;
	}

	.row { align-items: center }
	.slogan
	{
		margin-left: 0;
		padding-bottom: 150px;
		width: 40%;
		font-size: 48px;
		float: left;
	}
	.slogan > h1
	{
		font-weight: bold;
	 font-size: 48px;
	 line-height: 57px;
	 float: left;
	}
	.slogan > p
	{
		font-weight: bold;
		font-size: 17px;
		line-height: 23px;
	}
	.slogan > p > span
	{
		font-weight: bold;
		font-size: 35px;
		line-height: 17px;
	}
	.slogan > button
	{
		font-size: 10px;
		line-height: 12px;
		padding: 10px 40px;
	}
	.babl-1, .babl-2, .babl-3, .babl-4, .idle-1, .idle-3 { display: none }
	.slogan-img
	{
		visibility: visible;
		float: left;
		margin-top: 70px;
		width: 60%;
		background-position: center center;
		background-size: cover;
	}
	.slogan-img > img
	{
		margin-left: 5%;
		width: 90%;
	}
	#slider1, #slider2 { display: none }
	.bg-item-three > .item-three 
	{
		width: 100%;
	}
	.titles
	{
		align-items: center;
		margin-bottom: 175px;
	}
	.title-image,
	.title
	{
		width: 50%;
		margin-right: 0;
	}
	.title-image > img
	{
		width: 105%;
		transform: translateY(-10%);
	}
	.items-6
	{
		width: 50%;
		margin: 0;
	}
	.item-six
	{
		width: 45%;
	}
	.item-six:nth-child(3n+2) { margin: 0 }
	.item-6-img
	{
		display: block;
		width: 50%;
	}
	.item-6-img > img
	{
		width: 100%;
	}
	.slider
	{
		margin-top: 125px;
	}
	.slider-image
	{
		padding-left: 0;
		width: 50%;
	}
	.slider-content
	{
		width: 40%;
		padding-right: 0;
	}

	 #s3d-1, #s3d-2
	{
		display: block;
		width: calc(100% + 90px + 50px);
		transform: translateX(-70px);
		margin-top: 125px;
		margin-bottom: 175px;
	}
	#s3d-1 .slick-dots,
	#s3d-2 .slick-dots
	{
		bottom: 0;
		transform: translateX(-25px);
	}
	#s3d-3
	{
		display: block;
	}
	#s3d-3 .slick-slide,
	#s3d-3 .slick-active
	{
		transform: scale(1);
	}
	.arrow-left, .arrow-right { display: none }
	.slider-content > h1
	{
		font-size: 34px;
  line-height: 40px;
	}
	.slider-content > p
	{
		margin-bottom: 0;
	}
	.partner
	{
		width: 25%;
		margin-bottom: 50px;
	}
	.partner:last-child { display: block }

	#reg
	{
	  width: 80%;
	  padding: 35px 25px;
	  margin-top: 150px;
	  margin-bottom: 150px;
	}
	.reg
	{
		padding: 65px 80px;
	}
	.reg > p
	{
		display: none;
	}
	.reg > button
	{
		padding: 10px 60px;
	}
	.items-2
	{
		justify-content: center;
	}
	.item-two
	{
		width: 51%;
	}
	.item-subtext
	{
		padding: 25px 0;
	}
	footer
	{
		background: #A9D4DA;
		padding-bottom: 0;
	}
	.footer-left, .footer-right { display: none }
	.footer-center { width: 100% }
	.footer-center > .footer-item:last-child { display: none }
	.footer-item
	{
		width: 100%;
		background: #A9D4DA;
	}
	.footer-center > .footer-item
	{
		display: none;
	}
	.footer-item > p
	{
		text-align: center;
	}
	/* .col-left,
	.col-right
	{
		display: none;
	} */
	.col-left
	{
		position: absolute;
		width: 70%;
		margin-top: 60px;
		padding: 50px 80px 50px 50px;
		background: #FFF;
		box-sizing: border-box;
		z-index: 21;
	}
	.col-right
	{
		position: relative;
		width: 70%;
		margin-top: 60px;
		margin-left: 30%;
		padding: 50px 50px 50px 80px;
		background: #FFF;
		box-sizing: border-box;
		z-index: 21;
	}
	.col-middle,
	.col-semifull,
	.col-full
	{
		width: 100%;
		margin-top: 100px;
	}
	.down
	{
		position: absolute;
		width: 20px;
		bottom: 50px;
		left: 30%;
		z-index: 10;
	}
}

@media screen and (max-width: 500px)
{
	.item-three
	{
		padding: 25px;
	}
	.logo > img
	{
		width: 125%;
	}
	.container
	{
		padding: 0 20px;
	}
	.header-menu
	{
		padding: 20px;
	}
	header
	{
		padding: 20px;
	}
	.slick-slide
	{
		margin: 15px 20px;
	}
	.slider .slick-slide
	{
		margin: 10px 0;
	}
	.auth
	{
		position: absolute;
		top: 0; right: 0;
		padding: 20px;
	}
	.slogan
	{
		margin-top: 75px;
		margin-left: 13%;
		margin-right: 13%;
		padding-bottom: 0;
		width: 74%;
	}
	.slogan > p
	{
		margin-bottom: 30px;
	}
	.slogan-img
	{
		margin-top: 20px;
		width: 100%;
	}
	.titles
	{
		margin-bottom: 100px;
	}
	.title-image
	{
		display: none;
	}
	.title
	{
		width: 100%;
	}
	.items-6
	{
		width: 100%;
	}
	.item-6-img
	{
		display: none;
	}
	.slider-image
	{
		position: absolute;
		width: 80%;
		padding: 0;
	}
	.slider-content
	{
		width: 100%;
		padding: 0;
	}
	.slider-content > h1
	{
		font-size: 32px;
		margin-bottom: 320px;
	}
	.slider-content > p
	{

	}
	.partners
	{
		margin-top: 100px;
	}
	.partner
	{
		width: 50%;
	}
	#reg
	{
		margin: 100px 0 0 0;
		padding: 25px 15px;
		width: 100%;
	}
	.reg
	{
		padding: 45px 15px;
	}
	.reg > h1
	{
		text-transform: capitalize;
		font-size: 30px;
		line-height: 35px;
	}
	.reg > button
	{
		padding: 10px 25px;
		font-size: 10px;
	}
	.items-2
	{
		margin-bottom: 150px;
	}
	.item-two
	{
		width: 100%;
	}
	/* .col-left,
	.col-right
	{
		display: none;
	} */
	.col-left
	{
		position: absolute;
		width: 85%;
		margin-top: 40px;
		padding: 50px;
		background: #FFF;
		box-sizing: border-box;
		z-index: 21;
	}
	.col-right
	{
		position: relative;
		width: 85%;
		margin-top: 40px;
		margin-left: 15%;
		padding: 50px;
		background: #FFF;
		box-sizing: border-box;
		z-index: 21;
	}
	.col-middle,
	.col-semifull,
	.col-full
	{
		width: 100%;
		margin-top: 75px;
	}
	.down
	{
		position: absolute;
		width: 20px;
		bottom: 50px;
		left: 48%;
		z-index: 10;
	}
}

@media screen and (max-width: 330px)
{
	.slider-content > h1
	{
		font-size: 28px;
		margin-bottom: 260px;
	}
	.slider-content > p
	{
		font-size: 16px;
		line-height: 24px;
	}
}