*{box-sizing: border-box;}

body, h1, h2, h3, p{
    margin:0;
    font-size:100%;
    font-weight: normal;
                /**
             * Для эксплорера
             */
    -ms-user-select: none;

             /**
              * Для мозилы
              */
    -moz-user-select: none;
 
             /**
              * Для конкверора
              */
    -khtml-user-select: none;
 
             /**
              * Для Сафари и Хрома
              */
    -webkit-user-select: none;
}

body{
    width: 80%;
    margin: auto;
}

.headcol{
	position: sticky;
	left: 0px;
	background-color: #e5edea;
}


.table-bordered td, .table-bordered th {
    border: 1px solid #789bbf!important;
}