

/* Start:/local/templates/robot/components/bitrix/news/vakansii/bitrix/news.list/.default/style.css?1648664803150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/robot/components/bitrix/news/vakansii/bitrix/news.list/.default/style.css?1648664803150 */
