tr {
    cursor: pointer;
}
tr:hover {
    background: rgba(49, 194, 243, 0.3) !important;
}
tr:nth-child(2n) {
    background: rgba(41, 188, 255, 0.08); /* Цвет фона */
}
tfoot {
    font-weight: 600;
}
tfoot >tr {
    background: rgba(49, 194, 243, 0.3);
}
h4.chart {
    text-align: center;
}
.LostTitle {
    margin-top: 10px;
    margin-bottom: 24px;
    text-align: center;
}
.red{
    color: #f3565d;
}
.green{
    color: #67d481;
}
.fa{
    font-size: 20px;
}
/*.arrow{*/
    /*float: right;*/
/*}*/
.arrow {
    float: left;
    margin-right: 10px;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #36b5df;
    z-index: 30;
}
.contpre {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
}
#page-preloader .logo {
    width: 350px;
    height: 105px;
    background: url(../img/logo_crm-plug.png) center center no-repeat;
    margin: 0 auto;
    display: block;
}
#page-preloader .spinner {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../img/ball-triangle.svg) center center no-repeat;
    background-size: 41px;
    margin: -5px 0 0 -21px;
}

.pre-zag-1 {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px;
    *margin-top: 25px;
}

.pre-zag-2 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 100;
    margin-top: 5px;
}
label.spNam {
    width: 140px;
    float: left;
    margin-left: 25px;
}
.inputsBlock {
    width: 190px;
    float: left;
}
button#getDate {
    font-size: 10px;
    margin-left: 10px;
}
#loader{
    color: white;
}
.hidden { display: none; }

.hidden { display: none; }

/* override child row hovering defined in the theme file */
#table2 tbody > tr.even.hover > td,
#table2 tbody > tr.even:hover > td,
#table2 tbody > tr.even:hover + tr.tablesorter-childRow > td,
#table2 tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
    background-color: #fff;
}
#table2 tbody > tr.odd.hover > td,
#table2 tbody > tr.odd:hover > td,
#table2 tbody > tr.odd:hover + tr.tablesorter-childRow > td,
#table2 tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
    background-color: #ebf2fa;
}
#table2 tbody > tr.even:hover > td,
#table2 tbody > tr.odd:hover > td {
    background-color: #d9d9d9;
}
.totalPrePre{
    display: none;
}
.greentd{
    color: #0a7b0a;
}
.redtd{
    color: red;
}

#roadList a[href]:after { display:none; }
#roadList a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}