*{
  /*margin: 0px;
  padding: 0px;*/
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body{
  font-family: 'Merriweather', serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

span{
  color: #0A36B9;
}

.container{
  width: 980px;
  margin: 0 auto;
}

                  header{
                    background-color: #DBE4FE;
                  }

                  .head_block{
                      width: 100%;
                      display: flex;
                    }

                    .header_logo{
                      padding: 35px 0;
                    }

                    .header_logo img{
                      width: 200px;
                    }

                    .nav{
                      margin-top: 40px;
                      margin-left: 5%;
                      z-index: 2;
                    } 

                    .nav ul {
                      margin: 0;
                      padding: 0;
                    }

                    .nav li {
                      margin: 0 10px  0;
                      padding: 0;
                      list-style: none;
                      display: inline-block;
                      *display:inline; /* ie7 */
                    }

                    .nav a {
                      font-size: 16px;
                      font-weight: bold;
                      padding: 3px 12px;
                      text-decoration: none;
                      color: #000;
                      line-height: 100%;
                    }

                    .nav a:hover {
                      color: #0A36B9;
                    }

                    /* меню справа */
                    .nav.right ul {
                      text-align: right;
                    }

                    /* меню по центру */
                    .nav.center ul {
                      text-align: center;
                    }  

.subHeader{
  /*background: url('img/bird.png') no-repeat left top;
  background-size: contain;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  

.subHeader h1{
  font-size: 100px;
  text-transform: uppercase;
  font-weight: lighter;
} 

.subHeader p{
  font-size: 30px;
  padding-bottom: 25px;
}  

.image_one img{
  height: auto;
  width: 100%/;
} 
                         
.weAre{
  position: relative;
  width: 520px;
  padding-top: 234px;
  margin-right: 15%;
}

.weAre a{
  color: #0A36B9;
}

.link span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: absolute;
    top: 240px;
    left: -305px;
    background: #fff;
    box-shadow: 0 0 8px 3px #BAB7BA; 
}

.link:hover span{
  visibility: visible;
}  

          
           

                  .aboutUs{
                    display: flex;
                  }

                  .bigBox{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                  }

                  .box{
                    width: 292px;
                    box-shadow: 0 0 6px 2px #BAB7BA;
                  }

                  .box h3{
                    font-size: 27px;
                    padding: 30px 0 50px 15px;
                    color: #D62104;
                  }

                  .box p{
                    padding: 0 15px 25px 15px;
                  }

                  .center{
                    margin: 0 20px;
                  }

                  .box.center a{
                    color: #D62104;
                  }

                  .box a{
                    color: #000;
                  }

                  .box a:hover{
                    color: #0A36B9;
                  }

 .our_partner{
  padding-top: 170px;
  display: flex;
 }                 
 
.our_partner h3{
  padding-left: 25px;
  padding-bottom: 70px;
  color: #D62104;
  font-size: 27px;
}

.our_partner img{
  height: 110px;
  padding: 0 25px;
  opacity: 0.5;
}

.our_partner img:hover{
  opacity: 1;
}

.our_partner a{
  padding-bottom: 50px;
}

.image{
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}



                    footer{
                      background-color: #DBE4FE;
                      display: flex; 
                    }

                     footer h4{
                      font-size: 27px;
                      color: #0A36B9;
                      padding-top: 50px;
                      padding-bottom: 30px;
                     } 

                     footer img{
                      width: 30px;
                      padding-top: 5px;
                      margin-right: 5px;
                     }

                     footer p{
                      line-height: 1.5;
                      font-weight: bold;
                      padding: 10px 0;
                     }

                     .findUs{
                      display: flex;
                      justify-content: space-between;
                      flex-wrap: wrap;
                     }

                     .phone{
                         padding-left: 40px;
                          background: url(img/phone.png) no-repeat left top;
                          background-position: 0% 65%;
                          background-size: 27px;
                     }

                     .eMail{
                        background: url(img/email.png) no-repeat left top;
                        background-size: 27px;
                     }

                     .whatsApp{  
                          background: url(img/whatsapp.png) no-repeat left top;
                          background-size: 27px;
                     }

                    

.underFoot{
  background-color: #DBE4FE; 
  padding-bottom: 30px;
  overflow: overlay;
  display: flex;
}   

.footLogo{
  float: right;

}  

                   
                    @media screen and (max-width: 1600px){ 
                      .weAre{
                        padding-top: 166px;
                      }

                      .image_one img{
                        width: 700px;
                      }
                    

                    @media screen and (max-width: 1446px){
                      .weAre{
                        padding-top: 113px;
                        margin-right: 10%;
                      }

                      .image_one img{
                        width: 600px;
                      }
                    }

                    @media screen and (max-width: 1246px){
                      .weAre{
                        padding-top: 123px;
                        margin-right: 0%;
                      }

                      .image_one img{
                        width: 590px;
                      }

                      .subHeader h1{
                        font-size: 90px;
                      }

                      .subHeader p{
                        font-size: 26px;
                      }
                    }

                    @media screen and (max-width: 1111px){

                      .subHeader h1{
                        font-size: 80px;
                      }

                      .subHeader p{
                        font-size: 20px;
                      }

                      .weAre{
                        width: 400px;
                      }

                      .image_one img{
                        width: 530px;
                      }
                    }
                    

                  
                        @media screen and (max-width: 1024px){
                          .nav{
                              margin-left: 10%;
                              margin-top: 30px;
                          }  

                          .header_logo{
                            margin-left: 7%;
                          }

                          .weAre{
                            margin-right: 5%;
                            width: 340px;
                            display: inline-block;
                            padding-top: 140px;
                          }

                          .subHeader h1{
                            font-size: 70px;
                          }

                          .subHeader p{
                            font-size: 17px;
                          }

                          .findUsBlock{
                            padding: 0 15px;
                          }

                          .footLogo{
                            display: flex;
                            justify-content: center;
                            float: none;
                          }

                          .link span{
                            top: -41px;
                            left: 33px;
                          }

                           @media screen and (max-width: 938px){

                            .box{
                              margin-top: 40px;
                            }

                             .image_one img{
                              height: auto;
                              width: 100%;
                            } 

                             .weAre{
                              text-align: center;
                              padding-top: 10px;
                              margin-right: 0;
                            }

                           }

                            @media screen and (max-width: 852px){

                              .our_partner h3{
                                text-align: center;
                              }

                              .mango{
                                margin-left: 0;
                              }

                              .mail{
                                margin-right: 0;
                              }
                          
                            }

                      @media screen and (max-width: 768px) {

                        footer{
                          text-align: center;
                        }

                        .findUs{
                          flex-direction: column;
                        }

                        .phone{
                          padding-top: 30px;
                          background-position: 50% 10%;
                          padding-left: 0;
                        }   
                      }
                        .nav {
                          position: relative;
                          min-height: 60px;
                        } 

                        .nav ul {
                          width: 180px;
                          padding: 5px 0;
                          position: absolute;
                          top: 0;
                          left: 0;
                          border: solid 1px #aaa;
                          background: #FAFAFA url(img/icon-menu.png) no-repeat 10px 11px;
                          border-radius: 5px;
                          box-shadow: 0 1px 2px rgba(0,0,0,.3);
                        }

                        .nav li {
                          display: none; /* скрыть все <li> пункты */
                          margin: 0;
                        }

                        .nav .current {
                          display: block; /* показывать только текущие активные <li> пункты */
                        }

                        .nav a {
                          display: block;
                          padding: 5px 5px 5px 32px;
                          text-align: left;
                        }

                        .nav .current a {
                          background: none;
                          color: #000;
                        }

                        /* при наведении на пункты меню */
                        .nav ul:hover {
                          background-image: none;
                        }
                        .nav ul:hover li {
                          display: block;
                          margin: 0 0 5px;
                        }
                        .nav ul:hover .current {
                          background: url(img/icon-check.png) no-repeat 10px 7px; 
                        }

                        /* адаптивное меню справа */
                        .nav.right ul {
                          left: auto;
                          right: 0;
                        }

                        /* адаптивное меню по центру */
                        .nav.center ul {
                          left: 50%;
                          margin-left: -90px;
                        }

                        
                        
                      }
                      
                      @media screen and (max-width: 580px) {
                          .head_block{
                            display: block;
                            margin-left: 18%;
                          }

                          .header_logo{
                            margin-left: 0;
                          }

                          .nav{
                            margin-left: 0;
                            margin-top: 0;
                          }
                         
                      }

                      @media screen and (max-width: 425px){
                        .head_block{
                          margin-left: 10%;
                        }

                        .weAre{
                          width: 270px;
                        }

                        .subHeader h1{
                          font-size: 50px;
                        }

                        .subHeader p{
                          font-size: 14px;
                        }

                        .image{
                          flex-direction: column;
                          text-align: center;
                        }

                        footer h4{
                          font-size: 25px;
                          padding-top: 30px;
                          padding-bottom: 20px;
                        }

                        footer p{
                          font-size: 14px;
                        }
                      }

                       @media screen and (max-width: 320px){

                          .head_block{
                          margin-left: 6%;
                        }

                       }

.button-large {
    background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
    background-image: linear-gradient(top, #ed391b, #ce1a00);
    display: inline-block;
    background-color: #ed391b;
    color: #fff;
    text-decoration: none;
    font-size: 1.75em;
    height: 2em;
    line-height: 2.125em;
    font-weight: 300;
    padding: 0 45px;
    outline: 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  }
  .button-large:active {
      background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
      background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
      background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
      background-image: linear-gradient(top, #ce1a00, #ed391b);
      background-color: #ce1a00;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    }
    .button-large:hover {
      background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
      background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
      background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
      background-image: linear-gradient(top, #fd492b, #de2a10);
      background-color: #fd492b;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    }