.ui-whats-new-popup {
	border-radius: 20px;
}

.ui-whats-new-popup .popup-window-content {
	border-radius: 20px;
	display: flex;
}

.ui-whats-new-close-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 7px;
	right: 6px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: right 0.3s, left 0.3s;
}

.ui-whats-new-content.--empty-head .ui-whats-new-close-btn {
	top: 1px;
	right: 0;
}

.ui-whats-new-close-btn:after {
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.242 1.22a.99.99 0 0 0-1.4 0l-4.8 4.801-4.821-4.822a.99.99 0 0 0-1.4 1.4L5.644 7.42l-4.422 4.422a.99.99 0 0 0 1.399 1.4l4.422-4.423 4.401 4.401a.99.99 0 0 0 1.4-1.399l-4.402-4.4 4.8-4.801a.99.99 0 0 0 0-1.4Z' fill='%23A8ADB4'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	opacity: 0.7;
}

.ui-whats-new-close-btn:hover:after {
	opacity: 1;
}

.ui-whats-new-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 11px 22px;
}

.ui-whats-new-content.--empty-head {
	padding-top: 25px;
}

.ui-whats-new-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15px;
	height: 74px;
	overflow: hidden;
	transition: opacity 0.5s;
}

.ui-whats-new-content.--empty-head .ui-whats-new-head {
	display: none;
}

.ui-whats-new-title {
	display: -webkit-box;
	font: 25px/33px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	text-align: center;

	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-whats-new-content.--empty-desc .ui-whats-new-title {
	-webkit-line-clamp: 2;
}

.ui-whats-new-desc {
	display: -webkit-box;
	font: 14px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #828B95;
	text-align: center;
	margin-top: 3px;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-whats-new-content.--empty-desc .ui-whats-new-desc {
	display: none;
}

.ui-whats-new-slide-wrap {
	display: flex;
	position: relative;
	flex: 1;
}

.ui-whats-new-slide-inner {
	display: flex;
	flex: 1;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

.ui-whats-new-slide-box {
	flex: 1;
	transition: transform .6s ease-in-out;
	white-space: nowrap;
}

.ui-whats-new-slide-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #f2f4f8;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 0.7s;
	opacity: 0.3;
}

.ui-whats-new-slide-item iframe {
	width: 100%;
	height: 100%;
}

.ui-whats-new-slide-btn {
	position: absolute;
	top: 50%;
	right: -21px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(83, 92, 105, .11);
	transform: translate(0, -50%);
	cursor: pointer;
	z-index: 2;
	transition: opacity .3s;
}

.ui-whats-new-slide-btn:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 8px;
	width: 28px;
	height: 28px;
	background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m9.52 7.4 5.282 5.282L16.17 14l-1.368 1.318L9.521 20.6l1.863 1.864L19.847 14l-8.463-8.464-1.863 1.864Z' fill='%2308B4EB'/%3E%3C/svg%3E");
	transition: opacity .3s;
}

.ui-whats-new-slide-btn:hover:before {
	background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m9.52 7.4 5.282 5.282L16.17 14l-1.368 1.318L9.521 20.6l1.863 1.864L19.847 14l-8.463-8.464-1.863 1.864Z' fill='%230097C7'/%3E%3C/svg%3E");
}

.ui-whats-new-slide-btn.--btn-prev {
	left: -21px;
}

.ui-whats-new-slide-btn.--btn-prev:before {
	transform: rotate(-180deg);
}

.ui-whats-new-slide-btn.--hide {
	opacity: 0;
	pointer-events: none;
}

.ui-whats-new-bullet-box {
	display: flex;
	justify-content: center;
	margin-top: 23px;
}

.ui-whats-new-bullet {
	position: relative;
	display: inline-block;
	margin-right: 5px;
	width: 7px;
	height: 7px;
	border-radius: 40px;
	background-color: #d5d7db;
	cursor: pointer;
	transition: width .6s, background-color .6s; /* setTimeout dependence */
}

.ui-whats-new-bullet:last-child {
	margin-right: 0;
}

.ui-whats-new-bullet.--active {
	background-color: #2fc6f6;
	width: 20px;
	height: 7px;
}

.ui-whats-new-bullet:last-child.--active:before {
	left: -13px;
}