#chatRoot
{ 
	border: 1px solid #E2E0D9;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
}

.chatMain
{ 
	left: 500px;
	position: absolute;
	top: 500px;

	width: 390px;
    height: 330px
}

#topPanel
{ 
	background: #F5F3ED;
	height: 28px;
}

#chatMessagePages
{ 
	bottom: 64px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.chatMain .chatMessages
{ 
	bottom: 0px;
	color: #282724;
	left: 0px;
	line-height: 1.5em;
	overflow: auto;
	padding: 4px 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.chatUsers
{ 
	background-color : #ECECEC;
	border:1px solid green;
	
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0px;
	top: 58px;
	width: 175px;
}

#bottomPanel
{ 
	bottom: 0px;
	color: #444444;
	font-weight: 700;
	height: 64px;
	left: 0px;
	position: absolute;
	right: 0px;
}

#sendForm
{
	height: 44px;
	background: #FEFEFE;
	border: 1px solid green;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	font: 14px/18px Arial, Tahoma, sans-serif;
	color: #444;
}

#sendForm .submitsend input 
{
	padding: 4px 6px;
	border: 1px solid #98CCE7;
	border-radius: 5px;
	color: #FFF;
	font: bold 13px Arial, Tahoma, sans-serif;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background-color: #2a7495;
	cursor: pointer;
}

#messages
{
	overflow:auto;
	background-color : #282724;
	border:1px solid #FFFFFF;
	
	font-family: "arial", sans-serif, "helvetica";
	font-size: 14px;
}

#editorchat h3, #addstat h3
{
	margin:0;
	font-size:14px;
	font-style: italic;
	padding: 3px
}

#editorchat a.close, #addstat a.close
{
	display:block;
	float:right;
	margin: 3px 3px 0 0;
	padding:0;
	height:13px;
	width:13px;
	background:url(images/buttons/close_popup.png);
}

#editorchat ul
{
	margin:0;
	padding:0;
	display: block;
}

#editorchat ul.buttons
{
	width: 30px;
	height: 32px;
	background: url(images/buttons/gradient_bg.png);
	list-style: none outside none;
}

#editorchat ul.buttons li
{
	float:left;
	display:block;
	padding: 2px;
	border: 1px solid #777;
	margin:3px 2px;
	width:20px;
	height:20px;
}

#editorchat ul.buttons li.sel
{
	width:auto;
}

#editorchat ul.buttons li.sel select
{
	border:1px solid #999;
	font-size:12px;
	height:18px;
	margin:1px;
	padding:0;
	line-height:12px
}

#editorchat ul.buttons li.separator
{
	width:1px !important;
	background: #a0a0a0;
	padding:2px 0;
	border:0;
	display:block;
	float: left;
	margin:3px 5px
}

#editorchat ul.buttons li img
{
	border: 0;
	margin:2px;
	padding:0;
}

#editorchat #smiles
{
	overflow:hidden;
	float: left;
	width:230px;
	height: 352px;
}

#editorchat #smiles_header
{
	width:230px;
	background:#777;
	color:#fff;
}

#editorchat #smiles_content
{
	height: 352px;
	width: 230px;
	background:#f6f6f6;
	overflow:auto;
}

#editorchat #smiles_content ul.smile
{
	list-style: none outside none;
	width:200px;
}

#editorchat #smiles_content ul.smile li
{
	display:block;
	float:left;
	text-align:center;
	width:50px;
	margin: 4px 0 0;
	border-bottom:1px solid #e5e5e5;
}

#editorchat #smiles_content ul.smile li a
{
	display:block;
	width:50px;
	height:50px;
}

#editorchat #smiles_content ul.smile li a:hover
{
	display:block;
	width:50px;
	height:50px;
	background:#15E9F3;
	color:#15E9F3;
}

#editorchat #smiles_content ul.smile li a img
{
	border:0;
}

#editorchat #popup, #addstat #popup
{
	background: #e8e8e8;
	border:2px solid #777;
	padding: 8px;
	text-align: center;
}

#editorchat #popup input, #addstat #popup input
{
	font-style: italic;
	border:1px solid #777;
}

/* MES */

.mes_container
{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}


div.mescode_mes div.message
{
	padding:8px 0px;
}

.mescode_container
{
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 5px;
	display: inline-block;
}

.mescode_container div.mescode_mes
{
	margin-top: 0pt;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	background-color: #fcfcfc;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	position: relative;
	top: 0pt;
	
	border-radius: 5px;
	
	box-shadow: 1px 1px 5px 0px #7183A6;
}

.left_mess
{
	text-align: left;
	padding-left: 35px;
}

.right_mess
{
	text-align: right;
	padding-right: 35px;
}

.left_mess .mescode_mes_container
{
	background-color: transparent;
	background-image: url("images/quote/quote-le.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
	display: block;
	width: 9px;
	height: 13px;
	position: absolute;
	left: -8px;
}

.right_mess .mescode_mes_container
{
	background-color: transparent;
	background-image: url("images/quote/quote-ri.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
	display: block;
	width: 9px;
	height: 13px;
	position: absolute;
	right:-8px;
}

.left_mess .mescode_mes_container img
{
	margin-left: -32px;
	max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.right_mess .mescode_mes_container img
{
	margin-right: -32px;
	max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.mescode_postedby
{
	font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
}

.mescode_container div.mescode_mes div.message
{
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
}

.mesbtbtbt
{
	border-left:solid 1px;
	border-right:solid 1px;
	border-bottom:solid 1px;
	border-top:solid 1px;
	border-color: #417394;
	
	border-radius: 5px;
}

/*---*/

.chatUsersList
{
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
}
.UsersListItem
{ 
	border : 2px solid #696969;	
	margin: 0px;
	padding: 5px;
	box-shadow: 1px 1px 5px 0px #7183A6;
	overflow:hidden;
	display: none;
}
li:hover .UsersListItem
{ 
    display: block;
}
.chatUsersList li
{ 
	margin: 0px;
	padding: 3px 3px 3px 3px;
	box-shadow: 1px 1px 5px 0px #7183A6;
}
.chatUsersList li:hover
{ 
    background-image : url(img/bgh2.jpg);
	background-repeat : repeat-x;
	background-position : bottom;
	margin: 0px;
	padding: 3px 3px 3px 3px;
	box-shadow: 1px 1px 5px 0px #7183A6;
}
.UsersListMenu
{
	font-family: arial, sans-serif, helvetica;
    font-size: 11px;
	margin-left: 54px;
}
.UsersListAdmMenu
{
	font-family: arial, sans-serif, helvetica;
    font-size: 11px;
	margin-left: 5px;
	margin-top: 5px;
}

/* MES2 */

.chatMessage { 
padding-left: 10px;
line-height: 1.5em;
}

.userName { 
background-color: #AA2211;
color: #FFFFFF;
padding: 0px 4px 2px;
}

.chatUserFrom { 
color: #D24219;
cursor: pointer;
display: inline-block;
font-weight: 700;
min-height: 16px;
padding-right: 0.5em;
}

.chatTime { 
color: #8B897E;
float: right;
font-size: 70%;
padding-right: 16px;
}

.chatMsgSystem { 
background-image: none;
color: #428567;
font-style: italic;
}

.admin_panel_stat{
background-color: silver;
border: 0px solid red;
display: inline-block;
padding: 0px;
float: right;
background-color: silver;
margin: -9px 5px 0px -9px;
}

.admin_panel_msq{
background-color: silver;
border: 0px solid red;
display: inline-block;
padding: 0px;
float: right;
background-color: silver;
}

.b_del_msg{
background-image: url("images/buttons/del_msg.png");
cursor: pointer;
margin:2px 2px 2px 2px;

background-color: yellow;
background-position: 50% 50%;
background-repeat: no-repeat;
width: 10px;
height: 10px;
display: inline-block;
}

.b_del_l_msg{
background-image: url("images/buttons/del_l_msg.png");
cursor: pointer;
margin:2px 2px 2px 2px;

background-color: yellow;
background-position: 50% 50%;
background-repeat: no-repeat;
width: 10px;
height: 10px;
display: inline-block;
}

.linedot{
border-bottom: 1px dotted #838383;
margin:1px 0;
padding-bottom:1px;
}

/*styleedit*/
#bcol
{
	border: 1px solid #777;
	background-color: #888;
	margin:auto;
	overflow: hidden;
}

#bcol #popup
{
	background: #e8e8e8;
	border:2px solid #777;
	padding: 8px;
	text-align: center;
}

#bcol #popup input
{
	font-style: italic;
	border:1px solid #777;
}

#bcol #popup table
{
	border:0
}

#bcol #popup table td
{
	height:13px;
	width:13px;
	border:1px solid #999999;
	padding:0;
	margin:2px;
	cursor: pointer;
}

.scol
{
	border: 3px double #52573D;
	height:18px;
	width:30px;
	display: inline-block;
	margin: 0px 0px -7px;
}

.scol img
{
	display: block;
}

/*----*/
.img-ava24
{
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
}

.img-ava32
{
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

.img-ava50
{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.img-ava100
{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.img-ava250
{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

/*меню чата*/

.a { 
cursor: pointer;
text-decoration: underline;
}

.a, a, a:visited { 
color: #333333;
}

.chatSendLinksPanel { 
font-family: "arial", sans-serif, "helvetica";
font-size: 11px;
font-weight: 400;
}

.chatSendLinksPanel .a { 
background-repeat: no-repeat;
display: inline-block;
height: 16px;
margin-right: 10px;
text-decoration: none;
vertical-align: bottom;
}

.chatSendLinksPanel .a .label { 
border-bottom: 1px dotted #FFFFFF;
color: #FFFFFF;
text-shadow: 0px 1px 1px #000000;
}

.icon { 
background-position: 50% 50%;
background-repeat: no-repeat;
display: inline-block;
height: 16px;
vertical-align: bottom;
width: 16px;
}

.icon-settings { 
background-image: url("images/buttons/settings.png");
}

.icon-clear { 
background-image: url("images/buttons/erase.png");
}

.UserLinksPanel .a .label { 
border-bottom: 1px #FFFFFF;
color: #000000;
}

.icon-profile{
background-image: url("images/buttons/profile.png");
}

.icon-web-camera{
background-image: url("images/buttons/web-camera.png");
}

.icon-gift{
background-image: url("images/buttons/gift.png");
}

.icon-prikol{
background-image: url("images/buttons/prikol.png");
}

.icon-privat{
background-image: url("images/buttons/privat.png");
}

a.giftto { 
background-attachment: scroll;
background-clip: border-box;
background-color: white;
background-image: url("images/buttons/gift32x32.png");
background-origin: padding-box;
background-position: 0% 50%;
background-repeat: no-repeat;
background-size: auto;
border-bottom-color: #896A02;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #896A02;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #896A02;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #896A02;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
color: black;
display: inline-block;
font-weight: 700;
margin-top: 5px;
min-height: 36px;
padding-bottom: 3px;
padding-left: 35px;
padding-right: 3px;
padding-top: 3px;
text-align: center;

font-size: 15px;
}

/*модальное окно ->*/
#blockscreen, #modalwindow 
{
	position: fixed;
}
#blockscreen 
{
	background: rgba(0, 0, 0, .5);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}
#modalwindow 
{
	z-index: 11;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #a1a1a1;
	box-shadow: 0 0 10px #444;
}
/*модальное окно <-*/


.select-style-wpandyou select {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 24px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 178px;
	
	font-size: 12px;
	color: white;
}

.select-style-wpandyou option {
    color: rgba(0, 0, 0, 1);
}
   
.select-style-wpandyou {
    border: 1px solid #CCC;
    overflow: hidden; 
    height: 24px;
    background: url("images/buttons/down_arrow_select.png") no-repeat right #DDD;
    width: 150px;
	
	background-color: #2E2D39;
	display: inline-block;
}

/*спойлер*/
.spoiler
{
	margin-left: 10px;
}
.spoiler-body
{
	margin: 0px;
	padding: 6px;
	border: 0px inset;
}
.spoiler-title
{
	margin-bottom:2px;
	text-decoration: underline;
	cursor: pointer;
}