

/* Start:/local/templates/robot/components/bitrix/news/portfolio/bitrix/news.list/.default/style.css?1648540322790*/
.items-2
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 850px;
	margin: 0 auto;
	/*margin-bottom: 225px;*/
	box-sizing: border-box;
}

.item-two
{
 position: relative;
 width: 48%;
 box-sizing: border-box;
 margin-bottom: 10px;
}

.item-empty
{
 position: relative;
 width: 100%;
 height: 350px;
 background: #FFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 50px;
 box-sizing: border-box;
}

@media screen and (max-width: 900px)
{
	.items-2
	{
		justify-content: center;
	}
	.item-two
	{
		width: 51%;
	}
	.item-subtext
	{
		padding: 25px 0;
	}
}

@media screen and (max-width: 500px)
{
	items-2
	{
		margin-bottom: 150px;
	}
	.item-two
	{
		width: 100%;
	}
}
/* End */
/* /local/templates/robot/components/bitrix/news/portfolio/bitrix/news.list/.default/style.css?1648540322790 */
