

/* Start:/local/templates/robot/components/bitrix/news/vakansii/bitrix/news.detail/.default/style.css?1648664803155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /local/templates/robot/components/bitrix/news/vakansii/bitrix/news.detail/.default/style.css?1648664803155 */
